/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.logo {
   width:60%;
   float:left;
   background: grey;
}

.top1 {
   width:10%;
   float:left;
   background: grey;
}

.top2 {
   width:10%;
   float:left;
   background: grey;
}

.top3 {
   width:10%;
   float:left;
   background: grey;
}

.top4 {
   width:10%;
   float:left;
   background: grey;
}

.main  {
   width:100%;
   float:right;
   background: grey;
}

.Content1 {
   width:33%;
   float:left;
   background: grey;
}

.Content2 {
   width:33%;
   float:left;
   background: grey;
}

.Content3 {
   width:33%;
   float:left;
   background: grey;
}

.pageFooter {
   width:100%;
   float:left;
   background: grey;
}

.placeholder {
    height: 200px;
    padding: 20px;
    border: 1px solid black;
    background: rgba(255,255,255,0.7);
    margin: 10px;
}

.height {
    height: 600px;
}

.topheight {
    height: 100px;
}

